study_name: TPE_DiscreteFlow
trials: 100
seed: 42
metric: val_loss
direction: minimize

sampler:
  name: optuna.samplers.TPESampler
  kwargs:
    n_startup_trials: 10

pruner:
  name: pruner.PFLPruner
  kwargs:
    n_startup_trials: 10
    n_warmup_epochs: 10
    top_k: 10
    target_epoch: 100

search_space:
  net_config:
    # Discrete Flow architecture parameters
    num_flow_layers:
      type: int
      min: 4
      max: 8
    hidden_channels:
      type: categorical
      choices: [32, 48, 64, 80]
    num_hidden_layers:
      type: int
      min: 1
      max: 3
    # Note: No dequant_noise search (discrete flow doesn't use it)
    # Fixed batch configuration (not searchable due to memory)
    # batch_size: 128, num_beta: 4
  optimizer_config:
    lr:
      type: float
      min: 5.e-2
      max: 1.e+1
      log: true
  scheduler_config:
    infimum_lr:
      type: float
      min: 1.e-7
      max: 1.e-3
      log: true
