study_name: TPE
trials: 100
seed: 42
metric: val_loss
direction: minimize

sampler:
  name: optuna.samplers.TPESampler
  kwargs:
    n_startup_trials: 10

pruner:
  name: pruner.PFLPruner
  kwargs:
    n_startup_trials: 10
    n_warmup_epochs: 10
    top_k: 10
    target_epoch: 100

search_space:
  net_config:
    # Model architecture parameters
    hidden_channels:
      type: categorical
      choices: [32, 64, 96, 128]
    hidden_conv_layers:
      type: int
      min: 3
      max: 7
    hidden_width:
      type: categorical
      choices: [64, 128, 192, 256]
    hidden_fc_layers:
      type: int
      min: 1
      max: 3
  optimizer_config:
    lr:
      type: float
      min: 5.e-2
      max: 1.e+1
      log: true
  scheduler_config:
    infimum_lr:
      type: float
      min: 1.e-7
      max: 1.e-3
      log: true
