study_name: TPE
trials: 100
seed: 42
metric: val_loss
direction: minimize

sampler:
  name: optuna.samplers.TPESampler
  kwargs:
    n_startup_trials: 10

# Note: Divergence detection (NaN/Inf, sign flip, plateau) is implemented
# in util.py and will raise optuna.TrialPruned() for bad trials automatically

search_space:
  net_config:
    # Model architecture parameters
    kernel_size:
      type: categorical
      choices: [3, 5, 7]
    hidden_channels:
      type: categorical
      choices: [64, 96, 128]
    hidden_conv_layers:
      type: int
      min: 4
      max: 8
    hidden_kernel_size:
      type: categorical
      choices: [3, 5]
    hidden_width:
      type: categorical
      choices: [128, 256, 512]
    hidden_fc_layers:
      type: int
      min: 1
      max: 3

  optimizer_config:
    lr:
      type: float
      min: 1.e-4
      max: 1.e-2
      log: true
    weight_decay:
      type: float
      min: 1.e-6
      max: 1.e-3
      log: true

  scheduler_config:
    infimum_lr:
      type: float
      min: 1.e-7
      max: 1.e-4
      log: true
