study_name: TPE_Gumbel
trials: 100
seed: 42
metric: val_loss
direction: minimize

sampler:
  name: optuna.samplers.TPESampler
  kwargs:
    n_startup_trials: 10

pruner:
  name: pruner.PFLPruner
  kwargs:
    n_startup_trials: 10
    n_warmup_epochs: 10
    top_k: 10
    target_epoch: 100

search_space:
  net_config:
    # Model architecture parameters
    kernel_size:
      type: categorical
      choices: [3, 5, 7, 9]
    hidden_channels:
      type: categorical
      choices: [32, 64, 96, 128]
    hidden_conv_layers:
      type: int
      min: 3
      max: 6
    hidden_kernel_size:
      type: categorical
      choices: [3, 5, 7]
    hidden_width:
      type: categorical
      choices: [128, 256, 512]
    hidden_fc_layers:
      type: int
      min: 1
      max: 3
  optimizer_config:
    lr:
      type: float
      min: 5.e-2
      max: 1.e+1
      log: true
  scheduler_config:
    infimum_lr:
      type: float
      min: 1.e-7
      max: 1.e-3
      log: true
  gumbel_config:
    # Gumbel-Softmax hyperparameters
    initial_temperature:
      type: float
      min: 0.5
      max: 2.0
      log: false
    final_temperature:
      type: float
      min: 0.01
      max: 0.5
      log: true
